*,
html,
body {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    background-color: rgb(21, 20, 20);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

button {
    border: none;
    background-color: rgb(67, 100, 105);
    color: rgb(250, 255, 254);
    font-size: 18px;
    padding: 8px;
    margin-left: 6px;
    height: 45px;
    font-weight: 400;
    margin-top: 8px;
}

input {
    border: none;
    background-color: rgb(144, 255, 246);
    color:rgb(33, 33, 33);
    padding: 6px;
    font-size: 16px;
    margin-top: 8px;
}

