*,
html,
body {
    margin: 0;
    padding: o;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.container {
    width: 500px;
    margin: 0 auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 325px;
    min-height: 100vh;
    border: 2px solid blue;
}

.content {
    margin: 4px;
}

.row {
    display: flex;
    flex-direction: row;
}

button {
    border: none;
    background-color: rgb(67, 100, 105);
    color: rgb(250, 255, 254);
    font-size: 16px;
    padding: 6px;
    margin-left: 8px;
    width: 55px;
    height: 35px;
    font-weight: 340;
    margin-top: 8px;
    
}

input {
    border: none;
    background-color: rgb(144, 255, 246);
    color:rgb(33, 33, 33);
    padding: 6px;
    font-size: 16px;
    margin-top: 8px;
}

#question {
    color: rgb(44, 44, 44);
    font-size: 1.4em;
    font-weight: 300;
}
