.first {
    color: rgb(255, 255, 255);
    background-color: rgb(46, 103, 112);
}

.second {
    color: rgb(255, 255, 255);
    background-color: rgb(55, 89, 129);
}

/* #third {
    color: rgb(255, 255, 255);
    background-color: rgb(104, 55, 129);
} */

p {
    text-align: center;
}
