*, 
html,
body {
    margin: 0;
    padding: 0;
}

:root {
    --bg-primary:  rgb(5, 49, 98);
    --bg-primary-light: rgb(184, 178, 232);
    --bg-secondary: rgb(224, 239, 255);
    --bg-secondary-light: rgb(19, 8, 97);
    --text-primary: rgb(231, 230, 230);
    --text-secondary: rgb(25, 24, 24);
}

.container {
    width: 100%;
    height : 100vh;
    background-color : var(--bg-primary);
}

.wrapper {
    display: flex;
    width: 100%;
    height: auto;
}

/* .first {
    color: rgb(255, 255, 255);
    background-color: rgb(46, 103, 112);
}

.second {
    color: rgb(255, 255, 255);
    background-color: rgb(55, 89, 129);
} */

/* #third {
    color: rgb(255, 255, 255);
    background-color: rgb(104, 55, 129);
} */

.text-center {
    text-align: center;
}

.card {
    border: 1px solid #ccc;
    color: var(--text-secondary);
    background-color: var(--bg-secondary);
    padding: 35px;
    margin: 3px;
}
